.container{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.item{
	display: flex;
	width: 100%;
	margin-top: 0.5%;
}

  .button { 
	padding: 2% 5%;
	  color: white;
	  vertical-align: middle;
	  font-family: 'Rubik One', sans-serif;
	  text-decoration: none;
	  font-size: 4vw;
	  background-color: #3498db;
	  -webkit-tap-highlight-color: transparent;
	  user-select: none;
	  width: 100%;
  }

  .pressed {
	color: #3498db;
	background-color: white;
}

.photo {
	width: 50%;
    margin-left: 25%;
	margin-bottom: 3%;
}